<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Encrypted_Messenger_Xamarin.Encrypted_Messenger_Xamarin" android:versionCode="1" android:versionName="1.0">
  <uses-sdk android:minSdkVersion="16" />
  <application android:label="Encrypted_Messenger_Xamarin"></application>
</manifest>